.popup {
    width: 250px;
    background-color: rgba(255, 255, 255, 0.65);
    margin: 4px;
    border-radius: 8px;
    box-shadow: 3px 3px 10px 1px rgba(0,0,0,.4);
    display: flex;
    flex-flow: column nowrap;
    align-items:flex-start;
    justify-content: center;
    align-content: center;
    position:absolute;
    left: 0;
    bottom: 0;
}

.popup__text {
    font-family: Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    padding: 4px 8px;
    text-align: left;
}